<main class="content-area">
    <section class="community-top-section">
        <h1 id="community">Community</h1>

        <p>We’re passionate about making Clarity the best it can be.&nbsp;Although each team member has a specific role and area of responsibility, we’re all actively engaged in every aspect of the framework.</p>

        <div>
          <table *ngFor="let pokemon of poke">
            <th>Pokemon Picture</th>
            <th>Pokemon Name</th>
            <th>Abilities</th>
            <tr>
              <td><img src='{{ pokemon.sprites.front_default }}' /></td>
              <td>{{ pokemon.species.name }}</td>
              <td>{{ pokemon.abilities[0].ability.name }}</td>
            </tr>
          </table>
        </div>
    </section>
</main>